$theme-color: #d33a31;
$black: #000;
$white: #fff;
$gold: #e7aa5a;
$blue: #517eaf;

$gray-sm:#F4F4F4;
$gray-medium:#F5F5F5;
$gray-height:#D6D6D6;

$font-size: 14px;
$font-size-medium-sm: 13px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-medium: 15px;
$font-size-title: 18px;
$font-size-title-lg: 24px;

$font-weight-bold: 700;

$font-color-transparent: rgba(255, 255, 255, 0.5);

$border: 1px solid #E1E1E1;

$box-shadow: 2px 2px 2px 1px rgba($color: #000000, $alpha: 0.5);

$page-padding: 16px 32px;
// layout
$layout-content-min-width: 700px;
// content
$center-content-max-width: 1000px;
// header
$header-height: 50px;
$header-z-index:1008;

$user-z-index:1010;
$sidebar-z-index:1010;

$home-z-index:1003;
$back-ground-image-z-index:1000;

$music-z-index:1003;
$music-bg-z-index:1001;
$music-wrap-z-index:1002;


$candy-z-index:1003;


